[Unit]
Description=Webapp Service
After=network.target
ConditionPathExists=/tmp/webapp.flag

[Service]
EnvironmentFile=/etc/environment
ExecStart=/opt/csye6225/webapp
Restart=on-failure
RestartSec=60
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225/

[Install]
WantedBy=multi-user.target
