[Unit]
Description=Webapp Service
After=network.target

[Service]
EnvironmentFile=/opt/csye6225/.env
ExecStart=/opt/csye6225/webapp
Restart=always
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225/

[Install]
WantedBy=multi-user.target
